.pending-overtime-approvals {
  margin-top: 28px;
  margin-bottom: 28px;
  background-color: #E3E3E3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  padding: 20px
}

.pending-details {
  font-weight: 900;
}

.homepage-block {
  margin: 12px 42px 12px 42px;
  padding: 15px;
  background-color: #1D3C91;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.homepage-block:hover {
	background-color: #172b63;
} 